/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  overflow: none;
}

/* header */
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(72, 72, 8, 0.692);
  /* z-index를 적용할때는 */
  position: relative;
  z-index: 100;
}

header h1 {
}

header h1 a {
  color: white;
}

/* menu */
header #menu {
  display: flex;
}

header #menu li {
  margin: 0 1rem;
}

header #menu li a {
}

/* sns */
header .sns {
  display: flex;
}

header .sns li {
  margin: 0 0.5vw;
}

header .sns li a {
  color: black;
}

header .sns li a i {
}

/* main */
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main article {
  position: absolute;
  left: 6vw;
  top: 40%;
}

main article p {
  font-size: 4vw;
}

main article div {
}

main article img {
  width: 20%;
  border-radius: 30%;
}

.score1 {
  transform: translate(40px, 50px);
}

main article img:hover {
  border: 1px solid black;
  width: 30%;
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}
